<p id="notice"><%= notice %></p>
<div class="show-event">
  <p>
    <strong>Title:</strong><br/>
    <%= @event.title %>
  </p>
  <p>
    <strong>Description:</strong><br/>
    <%= @event.body %>
  </p>
  <p>
    <strong>Datetime:</strong><br/>
    <%= @event.datetime %>
  </p>
  <div>
    <h3>Owner:</h3>
    <% if @event.user.name %>
      <%= @event.user.name %>
      <% else %>
      <p>Owner's name not available</p>
    <% end %>
  </div>
  <div>
    <h3>Email:</h3>
    <%= @event.user.email %>
  </div>
  <hr/>

  <% if user_signed_in? %>
    <%= render 'invitations/invitation', event: @event %>
  <% else %>
    <h3>To attend this event you need to log in!</h3>
  <% end %>

  <div>
    <h2>List of members</h2>
    <% if @event.attendees.empty? %>
      <h3>No members in this event</h3>
    <% else %>
      <% @event.attendees.each do |attendee| %>
        <p><%= attendee.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
