<!DOCTYPE html>
<html>
  <head>
    <title>TicketingPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_notice() %>
    <% if flash[:alert] %>
      <div class="notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <div style="display: flex;">
      <div class="button">
        <%= link_to 'Home', root_path %>
      </div>
      <% if user_signed_in? %>
        <div class="button">
          <%= link_to 'Profile', edit_user_registration_path %>
        </div>
        <div class="button">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="button">
          <%= link_to 'Sign Up', new_user_registration_path %>
        </div>
        <div class="button">
          <%= link_to 'Sign In', new_user_session_path %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
